    <footer class="site-footer">
        <div class="container container-footer">
            <div class="usp-bar">
                <div class="usp-item"><i class="bi bi-globe"></i> Gratis frakt och returer</div>
                <div class="usp-item"><i class="bi bi-airplane"></i> Expressfrakt</div>
                <div class="usp-item"><i class="bi bi-shield-check"></i> Säkra betalningar</div>
                <div class="usp-item"><i class="bi bi-emoji-smile"></i> Nyheter varje dag</div>
            </div>
        </div>
        <div class="footer-links-bg">
            <div class="container">
                <div class="footer-links">
                    <div class="footer-col">
                        <h4>Shopping</h4>
                        <ul>
                            <li><a href="#">Vinterjackor</a></li>
                            <li><a href="#">Pufferjackor</a></li>
                            <li><a href="#">Kappor</a></li>
                            <li><a href="#">Trenchcoats</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Mina Sidor</h4>
                        <ul>
                            <li><a href="#">Mina Ordrar</a></li>
                            <li><a href="#">Mitt Konto</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Kundtjänst</h4>
                        <ul>
                            <li><a href="#">Returnpolicy</a></li>
                            <li><a href="#">Integritetspolicy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    &copy; Freaky Fashion
                </div>
            </div>
        </div>
    </footer>
    <script src="/main.js"></script>
</body>
</html>
